.cashierDashboard{
   background-color: rgb(236, 245, 248);
   margin-top: 10px;
   height:100%;
   padding-left: 20px;
   
}
.Dashboard{
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 20px;
   margin-bottom: 0;
   font-size: 28px;
   margin-top: 10px;
}
.welcome{
   margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
   font-weight: 150;
   padding-left: 20px;
}
.threeCards{
   display: flex;
   justify-content: center;
   gap:50px;
   font-size: larger;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 20px;
   padding-top:10px;
}
.cards{
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  width: 90%;
  box-shadow: 2px 2px 10px rgb(58, 58, 58);
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 3px;
   font-family: Arial, Helvetica, sans-serif;

}
.cards:hover,.button:hover{
    transform: scale(1.1);
}
.p{
  margin-bottom: 20px;
  
}
 
.numbers{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.button{
    background-color: rgb(3, 3, 192);
    color:white;
    font-weight: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    box-shadow: 2px 2px 10px rgb(58, 58, 58);
    border-radius: 20px;
    font-size:20px;
}
.tableBox{
     background-color: white;
     padding-left: 20px;
     padding-right: 20px;
     margin-right: 20px;
     min-height: 30ch;
     border: 2px solid #cbd5e1;
     border-radius: 10px;
     padding-top: 15px;
     
}
.recentSales{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
    margin-top: 0;
}
.heading{
    background-color:  rgb(236, 245, 248); ;
}
.table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin: 0 auto;
    font-size: 20px;
    max-height: 400px;
    overflow-y: auto;

}
.rows{
    min-height: 30ch;
    padding: 10px 20px;
}